name: GitGuardian scan
 
on:
  workflow_dispatch:
 
jobs:
  scanning:
    runs-on: ubuntu-latest
    name: GitGuardian scan
 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
 
      - name: GitGuardian Full Repo Scan (JSON Output)
        run: |
          ls -al
          pip install --upgrade ggshield
          ggshield api-status
          ggshield secret scan ci
        env:
          GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}
